@font-face {
  font-family: 'yekan';
  src: url(../Byekan.ttf);
}
*{
  font-family: 'yekan';
}
body {
  padding-top: 40px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

table{
  margin-top: 20px;
}
#add-btn{
  border-radius: 30px;
  width: 60px;
  height: 60px;
}
.fa-edit{
  color: yellow;
}
.fa-folder-open{
  color: rgb(69, 235, 69)
}
.fa-trash{
  color: red;
}
.btn-edit{
  font-size: 10px;
  margin-top: 5px;
}

input, select{
  margin-bottom: 5px;
  text-align: center;
}
select{
  direction: rtl;
  max-width: 100%;
}
table{
  direction: rtl;
  text-align: center;
}
.modal{
  direction: rtl;
}
#new-birth{
  text-align: justify;
}
.modal-body input{
  text-align: right;
}
